<section class="products-section">
  <h3>100% natural</h3>
  <h2>products</h2>

  <div class="products-container">
    <div class="ice-cream">
      <img src="./images/ice-cream-m.jpg" alt="ice-cream" />
      <h3>ice cream</h3>
      <!-- De adaugat SVG puncte -->
      <p>
        Indulge in our rich and creamy ice cream, handcrafted with all-natural
        ingredients and available in a variety of flavors.
      </p>
      <!-- De adaugat sageata si verificat daca e salvat SVG -->
    </div>
    <div class="ice-coffee"></div>
    <div class="milkshakes"></div>
  </div>
</section>
